{% extends "base.html" %}
{% block title %}Productivity Graph{% endblock %}

{% block content %}
<div class="graph-container">
    <h1>Your Productivity Graph</h1>
    <div class="hexagon-container">
        <canvas id="hexagonCanvas" width="600" height="600"></canvas>
    </div>
    <div class="legend">
        <div class="legend-item"><span class="color-physical"></span> PHYSICAL</div>
        <div class="legend-item"><span class="color-ambition"></span> AMBITION</div>
        <div class="legend-item"><span class="color-social"></span> SOCIAL</div>
        <div class="legend-item"><span class="color-intellect"></span> INTELLECT</div>
        <div class="legend-item"><span class="color-discipline"></span> DISCIPLINE</div>
        <div class="legend-item"><span class="color-mental"></span> MENTAL</div>
    </div>
</div>

<script>
    // Properly pass the scores data as JSON
    window.userProductivityScores = JSON.parse('{{ scores|tojson|safe }}');
</script>
{% endblock %}